@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ? custom styling */

:root {
  --main-color-dark: #000000ad;
  --main-color-light: #121212;
  --secondry-color: #b3b3b3;
  --orange-color: #FF7517
}

/* background colors */
.main-color-dark-bg {
  background-color: var(--main-color-dark);
}

.bg-gradiant {
  background-color: var(--main-color-dark);

}

.main-color-light-bg {
  background-color: var(--main-color-light);
}

.secondry-color-bg {
  background-color: var(--secondry-color);
}

/* text colors */
.main-color-dark-text {
  color: var(--main-color-dark);
}

.main-color-light-text {
  color: var(--main-color-light);
}

.secondry-color-text {
  color: var(--secondry-color);
}

.extra-color-text {
  color: var(--orange-color);
}

.extra-color-bg {
  background-color: var(--orange-color);
}

/* body default color */
body {
  background-color: var(--main-color-light);
  color: var(--secondry-color);
}

/* heading title global on all pages */
.heading-title {
  background-image: url("../assets/Frame 347.png"),
    linear-gradient(to bottom, black, #121212);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

}
.heading-title h2::first-letter{
text-transform: capitalize;
}